* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Quicksand;
}

h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 1rem;
}
.Suski-Family-Reunion{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 3rem;
}
.days,.hours,.minutes,.seconds{
    font-size: 3rem;
}
.photo{
    height: 50vh;
}

@font-face {
    font-family: Quicksand;
    src: url(Quicksand.ttf)
}